<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title4">Geliştirenler</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <img src="/assets/47474804.jpeg" alt="">
  <h4>Umut Can Arda</h4>
  <small>Full-Stack Developer</small>
  <hr>
  <div class="socialMedias">
    <a href="https://www.github.com/flysquare" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a href="https://twitter.com/flysquare0" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/fly.square/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/flysquare/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Kapat</button>
</div>
