.modal-body{
  p{
    margin: 0;
  }
  img{
    border-radius: 50%;
    width: 150px;
  }
  .socialMedias{
    a{
      i{
        font-size: 27px;
      }
      background: #2c2c2c;
      text-decoration: none;
      border-radius: 50%;
      padding: 10px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
    }
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.modal-footer{
  p{
    width: calc(100% - 115px);
  }
}
