<div class="content">
  <div class="row">
    <div class="left col-12 col-md-3">
      <div class="yellowText">Yalova Üniversitesi</div>
      <div class="title">Yalova'da<span>Yaşam</span></div>
      <div class="yellowText">Fotoğraf Sergisi</div>
      <div>16-20 Haziran 2023</div>
    </div>
    <div class="right col-12 col-md-9">
     <div class="images">
      <ul>
        <li (click)="open(imageZoomModal,'xl');openImage(art)" *ngFor="let art of arts">
          <a href="javascript:void(0)">
            <img alt="img1" [src]="imageSource+art.image" />
          </a>
        </li>
      </ul>
     </div>
    </div>
  </div>
  <div class="subTitles">
    <p (click)="open(supportModal,'lg')">Destekleyenler</p>
    <p (click)="open(organizationModal)">Organizasyon Komitesi</p>
    <p (click)="open(participantsModal,'lg')">Katılımcılar</p>
    <p (click)="open(developersModal)">Geliştirenler</p>
  </div>
</div>

<ng-template #supportModal let-modal>
  <app-support [modal]="modal" ></app-support>
</ng-template>
<ng-template #organizationModal let-modal>
  <app-organization [modal]="modal"></app-organization>
</ng-template>
<ng-template #participantsModal let-modal>
  <app-participants [modal]="modal"></app-participants>
</ng-template>
<ng-template #developersModal let-modal>
 <app-developer [modal]="modal"></app-developer>
</ng-template>

<ng-template #imageZoomModal let-modal>
  <app-image-zoom [modal]="modal" [art]="selectedArt"></app-image-zoom>
</ng-template>
