
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title2">Organizasyon Komitesi</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <ul>
    <li>Prof. Dr. Mehmet Gökhan Genel</li>
    <li>Doç. Dr. Esra Cizmeci Ümit</li>
    <li>Doç. Dr. Serkan Öztürk</li>
    <li>Dr. Öğr. Üyesi Yavuz Küçükalkan</li>
    <li>Öğr. Gör. Dr. Banu Sayar</li>
    <li>Öğr. Gör. Ceyda Tetik</li>
    <li>Arş. Gör. Dr. Tahsin Eren Sayar</li>
    <li>Arş. Gör. Demet Yalçın</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Kapat</button>
</div>
