<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title3">Katılımcılar</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <ul>
    <li>Alihan Gök</li>
    <li>Kerem	Yurdusever</li>
    <li>Aleyna Emir</li>
    <li>Nida	Yıldırım</li>
    <li>Özgür	Sanat</li>
    <li>Dilan	Güçlü</li>
    <li>Duygu	Eşlik</li>
    <li>Rabia Sıla Tekin</li>
    <li>Sinan	Çalkaya</li>
    <li>Selahattin İlker Ağırkaya</li>
    <li>Özge	Polat</li>
    <li>Erdem	Yılmaz</li>
    <li>İrem	Durur</li>
    <li>Yağmur İrtem</li>
    <li>Batuhan Burak Pelister</li>
    <li>İrem	Köse</li>
    <li>Ayça	Güney</li>
    <li>Melike Borozancı</li>
    <li>Tolga Alp Dağlı</li>
    <li>Furkan Karataş</li>
    <li>Mustafa Çakmak</li>
    <li>Muhammed Sait Aygün</li>
    <li>Safiyye Efe</li>
    <li>Aylin	Eser</li>
  </ul>
  <ul>
    <li>Ahmet Fatih	Okur</li>
    <li>Seda	Başaran</li>
    <li>Cihan	Çalkaya</li>
    <li>İlayda Timoçin</li>
    <li>Cemresu Bal</li>
    <li>Salih Emir	Kutlu</li>
    <li>Bilge	Can</li>
    <li>Dilara Bozkurt</li>
    <li>Sema Çomak</li>
    <li>Meryem Ekin</li>
    <li>Mesut Miraç	Nalbant</li>
    <li>Baran	Baysal</li>
    <li>Gülce	Ergül</li>
    <li>Yiğit	Gümüş</li>
    <li>Cemre	Yıldız</li>
    <li>Çağlar Kamit</li>
    <li>Aynur	Polat</li>
    <li>Yeşim	Aslanhan</li>
    <li>Mustafa Çapa</li>
    <li>Halit	Albayrak</li>
    <li>Esra	Sungur</li>
    <li>Merve	Sağır</li>
    <li>Aleyna Sarı</li>
    <li>Ceyda	Ayık</li>
    <li>Sedanur Berli</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Kapat</button>
</div>
